<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header-files.html :: header-files('Subject UI')}"></head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container mt-5" style="max-width: 600px">
    <h2>Create new subject</h2>
    <form th:action="@{/subject/create}" method="post">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subjectName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="qualification">Required qualification</label>
            <select class="form-control" id="qualification" name="qualificationId" required>
                <option>Select qualification</option>
                <option th:each="qualification : ${qualificationList}" th:value="${qualification.getId()}" th:text="${qualification.getSignature()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="subjectDescription">Description</label>
            <input type="text" id="subjectDescription" name="subjectDescription" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Add Subject</button>
    </form>
    <a class="mt-2 mb-2" th:href="@{/subject}">Back to subject catalog</a>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>