<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header-files.html :: header-files('Edit Principal')}"></head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container mt-5" style="max-width: 600px">
    <h2>Edit school principal</h2>
    <form th:action="@{/principal/edit}" method="post">
        <input type="hidden" name="id" th:value="${school.getId()}" />
        <div class="form-group">
            <label for="school">School</label>
            <input type="text" id="school" name="destination" th:value="${school.getName()}" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label for="principal">Principal</label>
            <select class="form-control" id="principal" name="principalId" required>
                <option value="" disabled selected>Select a principal</option>
                <option th:each="principalDTO : ${principalDTOList}" th:value="${principalDTO.id}" th:text="${principalDTO.firstName + ' ' + principalDTO.lastName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Update</button>
    </form>
    <a class="mt-2 mb-2" th:href="@{/principal}">Back to principal list</a>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>