<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header-files.html :: header-files('Parent Panel')}"></head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container">
    <h1>Parent Page</h1>
    <div class="btn-group" role="group" aria-label="Controller Buttons">
        <a href="/student/grades" class="btn btn-primary mb-2">Child's Grades</a>
        <a href="/student/absences" class="btn btn-primary mb-2">Child's Absences</a>
        <a href="/notifications" class="btn btn-primary mb-2">School Notifications</a>
    </div>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
