<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header-files.html :: header-files('Student Panel')}"></head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container">
    <h1>Student Page</h1>
    <div class="btn-group" role="group" aria-label="Controller Buttons">
        <a href="/student-grades" class="btn btn-primary mb-2">My Grades</a>
        <a href="/absences" class="btn btn-primary mb-2">My Absences</a>
    </div>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
