<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header-files.html :: header-files('Create SChool')}"></head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container mt-5" style="max-width: 600px">
  <h2>Create New School</h2>
  <form th:action="@{/school/create}" method="post">
    <div class="form-group">
      <label for="schoolName">School name</label>
      <input type="text" id="schoolName" name="schoolName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="schoolAddress">School address</label>
      <input type="text" id="schoolAddress" name="schoolAddress" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="principalDTO">Users</label>
      <select class="form-control" id="principalDTO" name="principalId">
        <option value="" disabled selected>Select a principal</option>
        <option th:each="principalDTO : ${principalDTOList}" th:value="${principalDTO.getId()}" th:text="${principalDTO.getFirstName()} + ' ' + ${principalDTO.getLastName()} + ', ' + ${principalDTO.getPhoneNumber()}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">Create SChool</button>
  </form>
  <a class="mt-2 mb-2" th:href="@{/school}">Back to school list</a>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
