<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header-files.html :: header-files('School Administrator UI')}"></head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container mt-5" style="max-width: 600px">
    <h2>Edit school</h2>
    <form th:action="@{/school/save}" method="post">
        <div class="form-group">
            <label for="schoolId">ID</label>
            <input type="text" id="schoolId" name="schoolId" th:value="${school.getId()}" class="form-control" disabled>
            <input type="hidden" name="schoolId" th:value="${school.getId()}"> <!-- a disabled field does not send its value -->
        </div>
        <div class="form-group">
            <label for="schoolName">School name</label>
            <input type="text" id="schoolName" name="schoolName" th:value="${school.getName()}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="schoolAddress">School Address</label>
            <input type="text" id="schoolAddress" name="schoolAddress" th:value="${school.getAddress()}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="principalDTO">Principal</label>
            <select class="form-control" id="principalDTO" name="principalId" required>
                <option value="" disabled selected>Select a principal</option>
                <option th:each="principalDTO : ${principalDTOList}"
                        th:value="${principalDTO.getId()}"
                        th:text="${principalDTO.getFirstName()}"
                        th:selected="${principalDTO.getId() == school.principal.id}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Save School</button>
    </form>
    <a class="mt-2 mb-2" th:href="@{/school}">Back to school list</a>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
